<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niluogege.serveredu.mapper.EduCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.niluogege.serveredu.entity.EduCourse">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="subject_id" property="subjectId" />
        <result column="subject_parent_id" property="subjectParentId" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="lesson_num" property="lessonNum" />
        <result column="cover" property="cover" />
        <result column="buy_count" property="buyCount" />
        <result column="view_count" property="viewCount" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, subject_id, subject_parent_id, title, price, lesson_num, cover, buy_count, view_count, version, status, is_deleted, gmt_create, gmt_modified
    </sql>


    <select id="getCoursePublishVo" resultType="com.niluogege.serveredu.entity.vo.CoursePublishVo">

        SELECT
            c.title,
            c.cover,
            c.lesson_num,
            CONVERT(c.price,DECIMAL (8,2)) as price, #两位小数格式化
            s1.title as one,
            s2.title as two,
            t.name as teacherName
        FROM
            edu_course as c LEFT JOIN edu_subject as s1 ON c.subject_id = s1.id
                            LEFT JOIN edu_subject as s2 ON c.subject_parent_id = s2.id
                            LEFT JOIN edu_teacher as t ON c.teacher_id = t.id


        WHERE
            c.id=#{courseId}


    </select>

</mapper>
